# general
#tmp/**
#tmp/**/*
*.tmp
*.bak
*.log
.DS_Store

# eclipse
.project
.metadata
bin/
local.properties
.classpath
.settings/
.loadpath

# intelliJ
/.idea

# php
/.php_cs.cache

# python
*.pyc

# svn
.svn

# vim
.*.swp
.vim/bundle/

#q
