# https://github.com/github/gitignore/tree/master/Global

# Ansible
*.retry

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Codemirror ???
q

# eclipse project file
.settings/
.classpath
.project

# eclipse
.project
.metadata
bin/
local.properties
.classpath
.settings/
.loadpath

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# Maven 
target/

# NetBeans specific
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Phpstorm
/.idea

# Php
/.php_cs.cache

# Python
*.pyc

# Svn
.svn

# Vim
.*.swp
.vim/bundle/

# Misc
*.tmp
*.bak
*.log
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

#
# OSX
#

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
